<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
    body
        table
            thead
                tr
                    th heading 1
                    th heading 2
                    th heading 3
            tbody
                tr
                    td content
                    td content
                    td content
                tr
                    td content
                    td content
                    td content
            tfoot
                tr
                    td content
                    td content
                    td content
        // Action: url browser goes to after submission
        // In this case, it stays on the same page
        form(action="#")
            div
                label(for="username") Username
                input(type="text", id="username")
            div
                label(for="password") Password
                input(type="password", id="password")
            div
                label Favorite Instructor
                each instr in [["elie", "Elie"], ["matt", "Matt"], ["tim", "Tim"]]
                    label(for=instr[0]) #{instr[1]}
                    input(type="radio", name="favorite_instructor", id=instr[0])
            div
                label Favorite Programming Languages
                each lang in [["ruby", "Ruby"], ["javascript", "Javascript"], ["python", "Python"], ["go", "Go"]]
                    label(for=lang[0]) #{lang[1]}
                    input(type="checkbox", name="favorite_language", value=lang[0], id=lang[0])
            div
                label Additional Comments
                textarea(name="", id="", cols="30", rows="10")
            div
                input(type="submit", value="submit")

                

